html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,cite,code,em,img,q,samp,small,strong,b,i,ol,ul,li,article,section {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,section {
display:block;
}

ul {
	list-style-type: none;
}

body {
	font-family: "Helvetica Neue", helvetica arial, sans-serif;
	font-size: 16px;
	color: #666;
}

.clear {clear: both;}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 10px;
}

#cv {
	width: 90%;
	max-width: 800px;
	margin: 30px auto;
}

.mainDetails {
	padding: 25px 40px;
}

#name h1 {
    color: #333;
	font-size: 2.5em;
	font-weight: 500;
	margin-bottom: -6px;
}

#name h2 {
	color: #666;
	font-size: 2em;
    font-weight: 300;
	margin-left: 2px;
}

#mainArea {
	padding: 0 40px;
}

#headshot {
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	border-radius: 500px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	font-size: 0.9em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
}

a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #09C;
}

#contactDetails ul li a:hover {
	color: #09C;
}


section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
	margin-bottom: 20px;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 25%;
	margin-bottom: 10px;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	/*font-family: 'Rokkitt', Helvetica, Arial, sans-serif;*/
	font-weight: 300;
	font-size: 1.5em;
	color: #09C;
}

.sectionContent h2 {
    color: #333;
    font-size: 1.5em;
	margin-bottom: -2px;
}

.subDetails {
    color: #999;
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills li {
	float: left;
	width: 33.3333%;
	margin-bottom: 3px;
    color: #444;
}

@media all and (max-width: 800px) {
	#headshot {
		display: none;
	}

	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
}

@media all and (max-width: 600px) {
	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}

	.sectionTitle {
		font-size: 1.25em;
	}

	.mainDetails {
		padding: 15px 15px;
	}

	section {
		padding: 15px 0 0;
		margin-bottom: 15px;
	}

	#mainArea {
		padding: 0 15px;
	}

	#name h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media all and (max-width: 480px) {
	#name {
		float: none;
	}

	#contactDetails {
		float: left;
		padding-top: 20px;
	}

	.keySkills li {
		width: 50%;
	}
}

@media print {
    #cv {
        width: 100%;
    }

    body {
    	font-size: 14px;
    }

    * {
    	color: #000 !important;
    }
}
